<br>
<br>
<form class="container" action="/cadUsuario" method="POST">
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPassword4">Nome</label>
      <input type="text" class="form-control" id="inputUsario" name="nome" placeholder="Nome de Usuário">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">E-mail</label>
      <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="E-mail">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPassword4">Senha</label>
      <input type="password" class="form-control" id="inputPassword4" name="senha" placeholder="Senha">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">CPF</label>
      <input type="text" class="form-control" id="inputCpf" name="cpf" placeholder=" Digite seu CPF">
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Endereço</label>
      <input type="text" class="form-control" id="inputAddress" name="endereco" placeholder="Rua Paraná, nº 0">
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Complemento</label>
      <input type="text" class="form-control" id="inputAddress2" name="complemento" placeholder="Apartamento, hotel, casa, etc.">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Cidade</label>
      <input type="text" class="form-control" id="inputCity" name="cidade" placeholder="Selecione uma Cidade">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEstado">Estado</label>
      <select id="inputEstado" name="estado" class="form-control">
        <option selected>Escolher...</option>
        <option value="AC">Acre (AC)</option>
        <option value="AL">Alagoas (AL)</option>
        <option value="AP">Amapá (AP)</option>
        <option value="AM">Amazonas (AM)</option>
        <option value="BA">Bahia (BA)</option>
        <option value="CE">Ceará (CE)</option>
        <option value="DF">Distrito Federal (DF)</option>
        <option value="ES">Espírito Santo (ES)</option>
        <option value="GO">Goiás (GO)</option>
        <option value="MA">Maranhão (MA)</option>
        <option value="MT">Mato Grosso (MT)</option>
        <option value="MS">Mato Grosso do Sul (MS)</option>
        <option value="MG">Minas Gerais (MG)</option>
        <option value="PA">Pará (PA)</option>
        <option value="PB">Paraíba (PB)</option>
        <option value="PR">Paraná (PR)</option>
        <option value="PE">Pernambuco (PE)</option>
        <option value="PI">Piauí (PI)</option>
        <option value="RJ">Rio de Janeiro (RJ)</option>
        <option value="RN">Rio Grande do Norte (RN)</option>
        <option value="RS">Rio Grande do Sul (RS)</option>
        <option value="RO">Rondônia (RO)</option>
        <option value="RR">Roraima (RR)</option>
        <option value="SC">Santa Catarina (SC)</option>
        <option value="SP">São Paulo (SP)</option>
        <option value="SE">Sergipe (SE)</option>
        <option value="TO">Tocantins (TO)</option>
      </select>
    </div>
    <div class="form-group col-md-2 ">
      <label for="inputCEP">CEP</label>
      <input type="text"  class="form-control " pattern="\d{5}-?\d{3}" name="cep" placeholder="Ex: 0000-000" id="inputCEP">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputCity">Telefone para Contato</label>
      <input type="text" class="form-control" id="inputCity" name="telefoneParaContato" placeholder="Digite um telefone para contato">
    </div>
  </div>
  
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"  name="confirmarDados" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Confirmar Dados
      </label>
    </div>
  </div>
  
<button id="botaoCadastrar" type="submit" class="btn btn-dark">Cadastrar</button>
  
</form>
<br>
<br>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Senha</th>
        <th>Cep</th>
        <th>Atualizar</th>
        <th>Excluir</th>
    </tr>
    {{#each doador}}
        <tr>
            <td>{{nome}}</td>
            <td>{{senha}}</td>
            <td>{{cep}}</td>
            <td><a href="/update/{{id}}">Modificar</a></td>  
            <td><a href="/delete/{{id}}">Apagar</a></td>
        </tr>
    {{/each}}
</table>




